# venv & IDE
.venv/
.vscode/
__pycache__/

# local configs & secrets
.env
.streamlit/secrets.toml

# local data
data/sqlite/app.db
data/chroma/
data/sample_docs/
*.pdf
*.docx

# OS
Thumbs.db
.DS_Store
